<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
  <style>
    td, th { padding: 0 40px; }
  </style>
</head>

<body>
  <ul class = "user-list">
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <% for (const user of users) { %>
                <tr>
                    <td><%- query && user.name ? user.name.replace(new RegExp(query, 'gi'), m => `<mark>${m}</mark>`) : (user.name || '') %></td>
                    <td><%- query && user.age ? user.age.replace(new RegExp(query, 'gi'), m => `<mark>${m}</mark>`) : (user.age || '') %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
  <input type="text" class="input-name" placeholder="name" />
  <input type="text" class="input-age" placeholder="age" />
  <button class="send-button">送信</button>
  <br>
  <input type="text" class="search" placeholder="search" />
  <button class="search-button">検索</button>
  <script src="/static/index.js" defer></script>
</body>

</html>